anthropic==0.40.0
beautifulsoup4==4.12.3
langchain==0.3.9
langchain_community==0.3.9
langchain_experimental==0.3.3
pandas==2.2.3
pgvector==0.3.6
psycopg==3.2.3
pypandoc==1.14
python-dotenv==1.0.1
python_doctr==0.10.0
Requests==2.32.3
streamlit==1.39.0
validators==0.34.0
openai
chromadb
tiktoken